@page
@model PeopleApp.Pages.IndexModel
@{
    ViewData["Title"] = "Peoples App";
}

<h2>Ppl-App</h2>
<hr />

<div id="app">
    <form asp-action="Index" method="get" class="form-inline">
        <input name="term" placeholder="search" class="form-control" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

@section scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script>

    </script>
}