@page
@model PeopleApp.Pages.IndexModel
@{
    ViewData["Title"] = "Peoples App";
}

<h2>Customers</h2>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model.UserList)
        {
            <tr>
                <td>@user.Number</td>
                <td>@user.Maidenname</td>
                <td>@user.Surname </td>
                <td>@user.Age</td>
            </tr>
        }

    </tbody>
</table>