@page
@{
    ViewData["Title"] = "More";
}

<h2>More</h2>

<div id="app" class="text-center">
    <table class="table text-left">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(user,index) in users">
                <td>{{index+1}}</td>
                <td>{{user.givenname}}</td>
                <td>{{user.gender}}</td>
            </tr>
        </tbody>
    </table>

    <h6>page : {{page}}</h6>

   
    <button class="btn btn-sm btn-primary my-5" v-on:click="getMorePage">More</button>

</div>

@section scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script>
    var vue = new Vue({
        el: "#app",
        data: {
            users: [],
            page: 1
        },
        created: function () {
            this.getPage(1)
        },
        methods: {
           
            getMorePage: function () {
                this.page++;
                this.getPage(this.page);
            },
            getPage: function (page) {
                var vm = this;
                $.ajax({ url: "/api/users", data: { page: page }, method: "POST" })
                    .done(function (data) {
                        vm.users =vm.users.concat( data);


                    }).fail(function () {

                    });
            }
        }

    })
    </script>
}
